@import '../../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;

  &__text {
    padding-block: 20px;
    text-align: center;
  }
}

.button {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 300%;
  min-width: 120px;
  padding: 2px 24px;
  border-radius: 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: $accent-color;
  }
}

.container__button {
  display: flex;
  justify-content: center;
  gap: 30px;
}