.button {
  background-color: transparent;
  border: 0;
  line-height: 150%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;

  @media (max-width: 930px) {
    font-size: clamp(0.75rem, 0.93vw + 0.459rem, 1rem);
  }

  &:hover {
    background-color: #e9e9e9;
  }

  @media (max-width: 499px) {
    &:hover {
    background-color: transparent;
  }
  }
}

.card__element {
  width: 100%;
  display: block;
}

.card__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr); // 6 одинаковых колонок
  font-family: inherit;
  padding: 10px 0;
  gap: 10px; // Добавим отступы между элементами

  &Compact {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
  }

  // Стили для мобильных устройств
  @media (max-width: 499px) {
    grid-template-columns: 1fr; // Одна колонка
    gap: 5px; // Уменьшим отступы для мобильных устройств
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;

    // Добавляем подписи к данным
    span {
      display: flex;
      font-family: inherit;
      justify-content: space-between;
      align-items: center;

      &::before {
        content: attr(data-label); // Используем атрибут data-label для подписей
        font-family: inherit;
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.change24h {
  &Positive {
    color: green; // Зелёный цвет для положительных значений
  }

  &Negative {
    color: red; // Красный цвет для отрицательных значений
  }
}