body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: black; /* Основной цвет текста */
}

/* Убедимся, что элементы списка также наследуют цвет */
ul, ol, li, button {
    color: inherit; /* Наследует цвет от родителя (body) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$primary-color: rgba(255, 85, 85, 1);
$secondary-color: #2ecc71;